#datos{
    background-color: #f5f5f5;
    padding: 0px 50px;
    text-align: auto;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#info_datos{
    font-family: 'Courier New', Courier, monospace;
}

.botonRegistrate{
    background-color: black;
    color: azure;
}
#uneteclub{
    background-color: yellow;
    text-align: center;
    padding: 40px;
}
